<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="{{ img(auth_user.get.picture) }}" class="online" alt="" />
                <p>{{ auth_user.get.getFullName() }}</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul>
                        <li id="status-online" class="active"><span class="status-circle"></span>
                            <p>Online</p>
                        </li>
                        <li id="status-away"><span class="status-circle"></span>
                            <p>Away</p>
                        </li>
                        <li id="status-busy"><span class="status-circle"></span>
                            <p>Busy</p>
                        </li>
                        <li id="status-offline"><span class="status-circle"></span>
                            <p>Offline</p>
                        </li>
                    </ul>
                </div>
                <div id="expanded">
                    <a href="javascript:void(0)" class="btn-signout" onclick="document.getElementById('logout-form').submit();">
                        Sign out <i class="fa fa-sign-out"></i>
                    </a>
                </div>
            </div>
        </div>
        {# <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div> #}
        <div id="contacts">
            <ul>
                {% for index, contact in contacts %}
                    <li class="contact {{ index == 0 ? "active" }}" data-id="{{ contact.id }}">
                        <div class="wrap">
                            <span class="contact-status"></span>
                            <img class="image" src="{{ contact.picture }}" alt="" />
                            <div class="meta">
                                <i class="badge"></i>
                                <p class="name">{{ contact.getFullName() }}</p>
                                <p class="preview"></p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {# contact status: online, busy, away #}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="{{ contacts[0].picture }}" alt="" />
            <p>{{ contacts[0].getFullName() }}</p>
        </div>
        <div class="messages">
            <ul>
                {# {% set conversation = constant("App\\Models\\Message::conversation(auth_user.get.id, contacts[0].id).get()") %}

                {% if conversation.isNotEmpty() %}
                    {% for convo in conversation %}
                        <li class="{{ convo.user.id == auth_user.get.id ? "sent" : "replies" }}">
                            <img src="{{ convo.user.picture }}" alt="" />
                            <p>{{ convo.convo }}</p>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="no-conversation">No conversation.</li>
                {% endif %} #}
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" placeholder="Write your message..." id="input-message" autofocus />
                {# <i class="fa fa-paperclip attachment" aria-hidden="true"></i> #}
                <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>